ion-header{
    --ion-background-color: #2D2266;
  }
  
  ion-title, ion-back-button{
    color: #ffffff;
  } 

  ion-card{
    background-color: #2D2266;
    margin: 10px;
    padding: 20px;
  }

  ion-text{
    color: #ffffff;
    font-weight: 900;
  }