<ion-header>
  <ion-toolbar>
    <ion-title>Search Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="animate__animated animate__zoomInUp"
						src="../../../assets/images/Listening happy music-bro.svg" alt="event detail image">
  <ion-card class="description-card">

    <ion-card-header>
      {{title}}
    </ion-card-header>
    <ion-card-content>
        <h3 style="font-weight: 900;">Date of Event:{{dateOfEvent | date}} </h3>
        <br/><br/>

        <ion-text>
          Venue: <br/><br/>
          City: {{venue.city}} <br/>
          Country: {{venue.country}} <br/>
          Location: {{venue.location}} <br/>
          Venue Name: {{venue.name}}
        </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>