ion-header{
    --ion-background-color: #2D2266;
}

ion-title, ion-back-button{
    color: #ffffff;
}

.description-card{
    padding: 10px;
    margin-bottom: 25px;
}

ion-card-header{
    color: #2D2266;
}
